@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/cinzel.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('/fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBold';
    src: url('/fonts/arial_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('/fonts/georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}