<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel" />
        <link  href="https//cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
        <meta property="og:url" content="https://douglasferrin.com/" />
        <meta property="og:image" content="https://assets.douglasferrin.com/works/self-portrait-jail-full.jpg" />
        <title>Douglas Ferrin | douglasferrin.com</title>
        <link rel="stylesheet" href="https://assets.douglasferrin.com/scripts/font-awesome-4.6.3/css/font-awesome.css" />
        <link rel="stylesheet" href="https://assets.douglasferrin.com/scripts/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://assets.douglasferrin.com/scripts/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="https://douglasferrin.com/styles.css" />
     
    </head>
    <body>
        <div class="header">
            <a href="/"><h1>Douglas Ferrin</h1></a>
            <div class="menu">
                <div class="nav-col"><a class="active" href="/">Self Portraits</a><a href="/works/figurative">Figure Paintings</a><a href="/works/still-life">Still Lifes</a></div>
                <div class="nav-col"><a href="/works/landscape">Landscapes</a><a href="/works/drawings">Drawings</a><a href="/works/murals">Murals</a></div>
                <a class="hamburger">
                    <div class="ham-1"></div>
                    <div class="ham-2"></div>
                    <div class="ham-3"></div>
                </a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="mobile-menu">
            <div class="nav-col"><a class="active" href="/">Self Portraits</a><a href="/works/figurative">Figure Paintings</a><a href="/works/still-life">Still Lifes</a></div>
            <div class="nav-col"><a href="/works/landscape">Landscapes</a><a href="/works/drawings">Drawings</a><a href="/works/murals">Murals</a></div>
        </div>
        <div class="home">
            <div class="feed">
                <div class="works-feed">
                    <div class="work-wrapper">
                        <div class="work-image">
                            <a href="/work/jail-doug-2016">
                                <img
                                    class="lazyload"
                                    data-sizes="auto"
                                    data-src="https://assets.douglasferrin.com/works/self-portrait-jail-large.jpg"
                                    data-srcset="https://assets.douglasferrin.com/works/self-portrait-jail-thumb.jpg 180w, https://assets.douglasferrin.com/works/self-portrait-jail-large.jpg 640w"
                                />
                            </a>
                        </div>
                        <div class="work-info">
                            <h3 class="title">Jail Doug,&nbsp;<span>2016</span></h3>
                            <p class="material">Acrylic on Board</p>
                            <p class="size">14 x 17 in</p>
                            <a href="/cdn-cgi/l/email-protection#a3cbc6cfcfcce3c7ccd6c4cfc2d0c5c6d1d1cacd8dc0ccce9cd0d6c1c9c6c0d79ef3d6d1c0cbc2d0c683eacdd2d6cad1da9983e9c2cacf83e7ccd6c48f8391939295">
                                <div class="for-sale-btn">Inquire to Purchase</div>
                            </a>
                            <div class="share">
                                <div
                                    class="grid-item-overlay-share js-social-sharing"
                                    data-share-title="Jail Doug"
                                    data-share-image="https://assets.douglasferrin.com/works/undefined"
                                    data-share-link="https://douglasferrin.com/work/jail-doug-2016"
                                ></div>
                                <button class="btn facebook js-share" type="button" data-share-network="facebook"><i class="fa fa-facebook"></i></button>
                                <button class="btn twitter js-share" type="button" data-share-network="twitter"><i class="fa fa-twitter"></i></button>
                                <button class="btn pinterest js-share" type="button" data-share-network="pinterest"><i class="fa fa-pinterest"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="work-wrapper">
                        <div class="work-image">
                            <a href="/work/self-portrait-1991">
                                <img
                                    class="lazyload"
                                    data-sizes="auto"
                                    data-src="https://assets.douglasferrin.com/works/self-portrait-with-suspenders-large.jpg"
                                    data-srcset="https://assets.douglasferrin.com/works/self-portrait-with-suspenders-thumb.jpg 180w, https://assets.douglasferrin.com/works/self-portrait-with-suspenders-large.jpg 640w"
                                />
                            </a>
                        </div>
                        <div class="work-info">
                            <h3 class="title">Self Portrait,&nbsp;<span>1991</span></h3>
                            <p class="material">Oil on Masonite</p>
                            <p class="size">48 x 72 in</p>
                            <div class="share">
                                <div
                                    class="grid-item-overlay-share js-social-sharing"
                                    data-share-title="Self Portrait"
                                    data-share-image="https://assets.douglasferrin.com/works/undefined"
                                    data-share-link="https://douglasferrin.com/work/self-portrait-1991"
                                ></div>
                                <button class="btn facebook js-share" type="button" data-share-network="facebook"><i class="fa fa-facebook"></i></button>
                                <button class="btn twitter js-share" type="button" data-share-network="twitter"><i class="fa fa-twitter"></i></button>
                                <button class="btn pinterest js-share" type="button" data-share-network="pinterest"><i class="fa fa-pinterest"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="work-wrapper">
                        <div class="work-image">
                            <a href="/work/sitting-at-easel-2013">
                                <img
                                    class="lazyload"
                                    data-sizes="auto"
                                    data-src="https://assets.douglasferrin.com/works/self-portrait-2012-large.jpg"
                                    data-srcset="https://assets.douglasferrin.com/works/self-portrait-2012-thumb.jpg 180w, https://assets.douglasferrin.com/works/self-portrait-2012-large.jpg 640w"
                                />
                            </a>
                        </div>
                        <div class="work-info">
                            <h3 class="title">Self Portrait,&nbsp;<span>2013</span></h3>
                            <p class="material">Oil on Linen</p>
                            <p class="size">22 x 28 in</p>
                            <div class="share">
                                <div
                                    class="grid-item-overlay-share js-social-sharing"
                                    data-share-title="Self Portrait"
                                    data-share-image="https://assets.douglasferrin.com/works/undefined"
                                    data-share-link="https://douglasferrin.com/work/sitting-at-easel-2013"
                                ></div>
                                <button class="btn facebook js-share" type="button" data-share-network="facebook"><i class="fa fa-facebook"></i></button>
                                <button class="btn twitter js-share" type="button" data-share-network="twitter"><i class="fa fa-twitter"></i></button>
                                <button class="btn pinterest js-share" type="button" data-share-network="pinterest"><i class="fa fa-pinterest"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="work-wrapper">
                        <div class="work-image">
                            <a href="/work/self-portrait-2005">
                                <img
                                    class="lazyload"
                                    data-sizes="auto"
                                    data-src="https://assets.douglasferrin.com/works/shirtless-self-portrait-large.jpg"
                                    data-srcset="https://assets.douglasferrin.com/works/shirtless-self-portrait-thumb.jpg 180w, https://assets.douglasferrin.com/works/shirtless-self-portrait-large.jpg 640w"
                                />
                            </a>
                        </div>
                        <div class="work-info">
                            <h3 class="title">Self Portrait,&nbsp;<span>2005</span></h3>
                            <p class="material">Oil on Linen</p>
                            <p class="size">40 x 54 in</p>
                            <div class="share">
                                <div
                                    class="grid-item-overlay-share js-social-sharing"
                                    data-share-title="Self Portrait"
                                    data-share-image="https://assets.douglasferrin.com/works/undefined"
                                    data-share-link="https://douglasferrin.com/work/self-portrait-2005"
                                ></div>
                                <button class="btn facebook js-share" type="button" data-share-network="facebook"><i class="fa fa-facebook"></i></button>
                                <button class="btn twitter js-share" type="button" data-share-network="twitter"><i class="fa fa-twitter"></i></button>
                                <button class="btn pinterest js-share" type="button" data-share-network="pinterest"><i class="fa fa-pinterest"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="work-wrapper">
                        <div class="work-image">
                            <a href="/work/self-portrait-1999">
                                <img
                                    class="lazyload"
                                    data-sizes="auto"
                                    data-src="https://assets.douglasferrin.com/works/self-portrait-in-white-shirt-large.jpg"
                                    data-srcset="https://assets.douglasferrin.com/works/self-portrait-in-white-shirt-thumb.jpg 180w, https://assets.douglasferrin.com/works/self-portrait-in-white-shirt-large.jpg 640w"
                                />
                            </a>
                        </div>
                        <div class="work-info">
                            <h3 class="title">Self Portrait,&nbsp;<span>1999</span></h3>
                            <p class="material">Oil on Linen</p>
                            <p class="size">28 x 22 in</p>
                            <div class="share">
                                <div
                                    class="grid-item-overlay-share js-social-sharing"
                                    data-share-title="Self Portrait"
                                    data-share-image="https://assets.douglasferrin.com/works/undefined"
                                    data-share-link="https://douglasferrin.com/work/self-portrait-1999"
                                ></div>
                                <button class="btn facebook js-share" type="button" data-share-network="facebook"><i class="fa fa-facebook"></i></button>
                                <button class="btn twitter js-share" type="button" data-share-network="twitter"><i class="fa fa-twitter"></i></button>
                                <button class="btn pinterest js-share" type="button" data-share-network="pinterest"><i class="fa fa-pinterest"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="footer">
            <div class="signups">
                <p>Subscribe for new works and musings from Douglas</p>
                <div id="mc_embed_signup">
                    <form
                        class="validate"
                        id="mc-embedded-subscribe-form"
                        action="//douglasferrin.us14.list-manage.com/subscribe/post?u=1ff21592ea739ccefa462aa24&amp;id=78a2fb7f9a"
                        method="post"
                        name="mc-embedded-subscribe-form"
                        target="_blank"
                        novalidate
                    >
                        <div id="mc_embed_signup_scroll">
                            <input class="email" id="mce-EMAIL" type="email" value name="EMAIL" placeholder="email address" required /><input class="button" id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" />
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1ff21592ea739ccefa462aa24_78a2fb7f9a" tabindex="-1" value /></div>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="links"><a href="/">Work</a><a href="/about">About</a><a href="/press">Press</a><a href="/cdn-cgi/l/email-protection#234b464f4f4c63474c56444f4250454651514a4d0d404c4e">Contact</a></div>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    </body>
    <script type="text/javascript" src="/bundle.js" charset="utf-8"></script>
    <script src="https://assets.douglasferrin.com/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://assets.douglasferrin.com/scripts/lazysizes/lazysizes.min.js"></script>
    <script src="https://assets.douglasferrin.com/scripts/dropzone/dropzone.js"></script>
</html>
