---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<div class="container mx-auto">
		<h3 class="font-bold ">About</h3>

		<div class="about-paragraph">
			<p class="mt-2 mb-2">
				Douglas Ferrin is a painter whose work explores intersections of realism and narrative. His style was dubbed "New Perceptionism" by the American National Gallery of Art lecturer Arthur DeCosta. This "new perception" is a style in which Roman illusionistic realism meets modern illusionism, and is camera corrected as opposed to camera conditioned.
			</p>
			<p class="mt-2 mb-2">
				Ferrin has done murals for clients as diverse as Gianni Versace and Sting, has paintings in the collections of Burt Reynolds, MIT, The First National Bank of Boston and many others. His work has appered in Architectural Digest, American Artist and a plethora of other publications. An accomplished musician and animator, his primary focus continues to be painting.
			</p>
			<p class="mt-2 mb-2">
				A professional artist since age 19, Ferrin now works and lives in Pennsylvania. He holds a degree from Pennsylvania Academy of the Fine Arts and studied at the University of Pennsylvania and Johns Hopkins.
			</p>
		</div>
	</div>
</Layout>
