---
import Layout from '../layouts/Layout.astro';

import { pressItems } from '../consts';
---

<Layout title="About">
	<div class="about mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="col-span-1">
				<h3 class="font-bold">Press</h3>
				<ol class="about-paragraph">
					{
						pressItems.map((item) => (
							<li>
								<a href={item.href}>{item.name}</a>
							</li>
						))
					}
				</ol>
			</div>
			<div class="col-span-1">
				<img src="/press.jpg" alt="Douglas Ferrin" class="rounded-lg" />
			</div>
		</div>
	</div>
</Layout>
